name: Download Python Packages (Ubuntu)

on:
  workflow_dispatch: # 取消繁杂的变量输入，一键运行即可

jobs:
  download-and-package:
    runs-on: ubuntu-20.04
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'

      - name: Download python packages
        run: |
          mkdir -p python-offline-packages
          cd python-offline-packages
          
          echo "Upgrading pip..."
          python -m pip install --upgrade pip
          
          echo "Downloading target packages (catboost, statsmodels, pyecharts) along with dependencies..."
          python -m pip download catboost statsmodels pyecharts
          
          cd ..

      - name: Package downloaded wheel/tar.gz files
        run: |
          echo "Compressing downloaded Python files..."
          tar -czvf ubuntu-python-3.8-offline-packages.tar.gz -C python-offline-packages .

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-offline-python-packages
          path: ubuntu-python-3.8-offline-packages.tar.gz
          retention-days: 7
