name: Download Python Packages (Ubuntu)

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Python package name to download (e.g., kazoo, requests)'
        required: true
        default: 'kazoo'
      python_version:
        description: 'Python version to use for downloading (e.g., 3.8, 3.9)'
        required: true
        default: '3.8'
      os_version:
        description: 'Ubuntu version for the runner (e.g. ubuntu-20.04, ubuntu-22.04, ubuntu-24.04)'
        required: true
        default: 'ubuntu-22.04'

jobs:
  download-and-package:
    runs-on: ${{ github.event.inputs.os_version }}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ github.event.inputs.python_version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ github.event.inputs.python_version }}

      - name: Download python packages
        run: |
          mkdir -p python-offline-packages
          cd python-offline-packages
          
          echo "Upgrading pip..."
          python -m pip install --upgrade pip
          
          echo "Downloading ${{ github.event.inputs.package_name }} and required packages (catboost, statsmodels, pyecharts) along with dependencies..."
          python -m pip download "${{ github.event.inputs.package_name }}" catboost statsmodels pyecharts
          
          cd ..

      - name: Package downloaded wheel/tar.gz files
        run: |
          echo "Compressing downloaded Python files..."
          tar -czvf ubuntu-python-${{ github.event.inputs.python_version }}-${{ github.event.inputs.package_name }}-offline.tar.gz -C python-offline-packages .

      - name: Prepare safe artifact name
        id: prep
        run: |
          echo "ARTIFACT_NAME=${{ github.event.inputs.package_name }}-py${{ github.event.inputs.python_version }}-ubuntu-offline" >> $GITHUB_ENV

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ubuntu-python-${{ github.event.inputs.python_version }}-${{ github.event.inputs.package_name }}-offline.tar.gz
          retention-days: 7
